.img-group-container{
    height: 50px;
    width:50px;
}



.min-img{
    max-width: 24px;
    height: 24px;
    margin:0 !important;
}


.img-group-container .row{
    margin:0;
    margin-bottom: 1px;
}

