.root-container{
    height:100vh;
    box-sizing: border-box;
    /* overflow-y: hidden;
    overflow-x: hidden; */
}


.root-container .right-col{
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 0;
}

.menu-img{
    display: inline;
}

.dropdown-toggle::after{
    display: none;
}

.click-color{
    background-color: #fff;
}


.friend-list-col{
    /* height: 100vh; */
    background-color: #ecf0f3;
    width:300px;
}
.header-bar{
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ecf0f3;
    box-sizing: border-box;
    
}

.div-btn{
    padding:5px;
    margin:5px;
    cursor: pointer;
}
.div-btn:hover{
    background-color:#e6e6e6
}
.is-active{
    background-color: #e6e6e6
}
.header-img-span .dropdown{
    display: inline;
}
.header-img-span{
    padding: 3px;
}