

.content{
    height:100vh;
    
    overflow-y: auto;
    padding-left:0 ;
    
}

.sidebar{
    padding: 0;
    background: #EEF5FF;
    /* background: #E1F0DA; */
    /* background: #f0f0f0; */
    width:100px;
}

.nav{
    padding-top: 10px;
}
.menu-img{

    width:35px;
    height: 35px;
    margin-left: 10%;
    
   
}

.dropdown-toggle::after{
    display: none;
}

.click-color{
    background-color: #fff;
}


.friend-list-col{

    width:300px;
}