.calendar-container{
    flex-grow: 1;
    overflow-y: auto;
    padding-left: 10%;
    padding-right: 10%;
    /* box-sizing: border-box; */
   background-color: #f0f0f0;
    display: flex;
    flex-direction: column; 
}

.calendar-container .react-calendar{

    width: 100%;
}
.calendar-container .schedule{
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
    background-color: white;
    border-radius: 20px;
    margin-top:10px;
    margin-bottom: 10px;
    padding:10px;
    flex-direction: column;

}
.calendar-container .schedule .schedule-header{
    display: flex;
    justify-content:space-between; 
    padding-left:10px;
    padding-right:10px;
    border-bottom: 1px solid black;
}
.schedule-header .schedule-add-btn{
    height: 30px;
}
.schedule .schedule-list{
  flex-grow: 1;
  overflow-y: auto;

}
.schedule .schedule-list .schedule-content{
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 부드러운 전환 효과 */
  border-radius: 10px; /* 부드러운 모서리 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 기본 그림자 */
  border:1px solid #b3b3b3;
  margin : 10px;

}
.schedule .schedule-list .schedule-content:hover{
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.schedule .schedule-list .message-and-btn{
  padding-top: 10px;
  display: flex;
  padding-bottom: 10px;
  padding-left: 20px;
}

.schedule .schedule-list .message-and-btn .message{
  margin-left:10px;
  font-size: 20px;;
}
.schedule .schedule-list .schedule-close-btn{
  float: right;
  margin-right:10px;
}

.schedule-count{
  /* float: right; */
  font-size: 13px;
  border-radius: 20px;
  background-color: white;
  color: black;
  padding-left: 3px;
  padding-right: 3px;


  position: absolute;
  top: 3px;
  right:3px;
}

.react-calendar {
    border-radius: 10px;
    border: 1px solid var(--festie-gray-400, #c8c8c8); 
  }

  .react-calendar__navigation__label > span {
    /* 달력 상단 년/월 글씨 커스텀 */
    color: var(--festie-gray-800, #3a3a3a);
    font-family: SUIT Variable;
    font-size: 13px;
    font-weight: 500;
    line-height: 140%;
  }
  .react-calendar__month-view__days__day--weekend {
    /* // 주말 글씨 빨간색 없애기 */
    color: var(--festie-gray-800, #3a3a3a);
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    /* //hover 했을 때 색상 변경 */
    background: var(--festie-primary-orange, #707070);
  }
  .react-calendar__tile--now {
    /* // 오늘 날짜 하이라이트 커스텀 */
    background: #f0f0f0;
  }
  .react-calendar__tile--active {
    background: var(--festie-primary-orange, #707070);
    color: white;
  }
  .react-calendar__month-view__days__day{
    border: 1px solid #f0f0f0 !important;
    border-radius: 10px;
    position: relative;
  }