.search-container input{
    
    margin-left:10px;
    margin-right:50px;
}


.search-container .close-col{
    place-items: center;
    text-align: center;

}

.search-container img{
    margin-top:10px
}