.friend-list-container{
    max-width: 100%;
}
hr{
    margin-top: 0;
    margin-bottom: 0;
}

.no-border{
    border: none !important
}


p{
    margin-bottom: 0;
    font-size: 15px;
}




.profile:hover{
    background-color: #f0f0f0;
}